kolor = rgb(0,188,212)

html, body, aside
    height 100%
aside
    background kolor
.main
    margin-top 20px
.sidebar
    padding-top 10px
    padding-left 0px
    padding-right 0px
    h3
        color #fff
        margin-top 0px
        border-bottom 1px solid #fff
        padding-bottom 10px
        margin-bottom 0px
        text-align center
    ul
        padding-left 0px
        padding-right 0px
        li
            list-style-type none
            border-bottom 1px solid rgba(255,255,255,0.5)
            a
                display block
                width 100%
                height 100%
                padding 10px 10px 10px 20px
                color #fff
                transition ease 0.5s all
                &:hover
                    background rgba(255,255,255,0.4)
                    color #fff
                    text-decoration none
                    padding-left 30px
footer
    position fixed
    bottom 0px
    width 100%
    background kolor
    padding-top 5px
    p
        text-align center
